

.content{

    text-align: center;
    padding: 150px 20px;
    color: #233142;
    background:  #e7eaf6;

}
.hero{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.link{
color: #e7eaf6;
}
.contact :hover{
    color: #e7eaf6;
    text-decoration: none;
}
.contact{
    background: #f6318c; 
    color: whitesmoke;
    border-radius: 8px;
    border: none;
    padding: 15px;
    text-decoration: none;
    transition: ease-in-out 120ms;
    font-weight: bold;
    font-size: large;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    color: #233142;
}
.greeting {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: larger;
    font-weight: 900;
    font-style: normal;
  }



.col-6{
    padding: 50px;
}
.ice-cream1{
    padding: 50px;
}

  .heading{
    text-align: center;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }
  .info{
    display: block;
    padding: 10px 30px;
    border-radius: 8px;
    border-color: #f6318c;
  }
  h3{
    text-align: center;
    padding-top: 30px;
  }

  